<div class="body-one">
  <nav>
      <a href="#reception">Invite</a>
      <a href="#accomodations">Venue</a>
      <!-- <a href="#registry">REGISTRY</a> -->
  </nav>
  
  <div class="container">
      <h1>Kapil <span>&</span> Preeti</h1>
      <!-- <h1>कपिल <span>&</span>&nbsp; प्रीति</h1> -->
      <!-- <h1 class="small">25th anniversary</h1> -->
  </div>
</div>
<div class="body-two" id="reception">
  <div class="container">
      <h2>Celebrating 25 years of love</h2>
      <p>With great joy we
          invite you to share in our 25th wedding anniversary celebration
          on February 23, 2018.
      </p>
      <!-- <button class="button-link" data-url="https://www.google.com/maps/preview#!q=montecito+country+club&data=!1m4!1m3!1d6342!2d-119.6574759!3d34.4251475!4m11!1m10!4m8!1m3!1d53185!2d-117.727022!3d33.5770201!3m2!1i1024!2i768!4f13.1!17b1">MONTECITO COUNTRY CLUB</button> -->
  </div>
</div>            
<div class="body-three">
</div>
<div class="body-four" id="accomodations">
  <div class="container">
      <h2>Venue</h2>
      <p>The ceremony will take place at the -- banquet
          in seohara, Distt. Bijnor
      </p>
      <!-- <button class="button-link" data-url="http://www.canarysantabarbara.com/">CANARY HOTEL</button>
      <button class="button-link" data-url="http://www.montecitoinn.com/">MONTECITO INN</button> -->
  </div>            
</div>
<!-- <div class="body-five">
</div>            
<div class="body-six" id="registry">
  <div class="container">
      <h2>Registry</h2>
      <p>We are registerd at both Macy’s Home 
          and Crate & Barrrel. You can either go to a
          retail store near you or shop online.
      </p>
      <button class="button-link" data-url="http://www1.macys.com/shop/for-the-home?id=22672&edge=hybrid&cm_sp=navigation-_-top_nav-_-22672_for_the_home">MACY'S HOME</button>
      <button class="button-link" data-url="http://www.crateandbarrel.com/">CRATE & BARREL</button>
  </div>            
</div> -->
<div class="body-seven">
</div>            
<div class="body-eight footer">
  <p>WE HOPE TO SEE YOU ON 23RD FEBRUARY!</p>
</div>