<div class="body-one">
  <nav>
      <a href="#reception">Invite</a>
      <a href="#accomodations">Venue</a>
      <!-- <a (click)="toggleLanguage()">{{ selectedLanguage }}</a> -->
  </nav>
  
  <div class="container">
      <h1>{{ constantsService.value.FIRST_NAME }} <span>&</span> {{ constantsService.value.SECOND_NAME }}</h1>
  </div>
</div>
<div class="body-two" id="reception">
  <div class="container">
      <h2>{{ constantsService.value.CELEBRATING_25_YEARS_OF_LOVE }}</h2>
      <p>{{ constantsService.value.INVITE_MESSAGE }}</p>
  </div>
</div>            
<div class="body-three">
</div>
<div class="body-four" id="accomodations">
  <div class="container">
      <h2>{{ constantsService.value.VENUE_TITLE }}</h2>
      <p>{{ constantsService.value.VENUE }}</p>
      <button class="button-link" (click)="openDirection()">Mannat Banquet</button>
      <!-- <button class="button-link" data-url="http://www.canarysantabarbara.com/">CANARY HOTEL</button>
      <button class="button-link" data-url="http://www.montecitoinn.com/">MONTECITO INN</button> -->
  </div>            
</div>
<!-- <div class="body-five">
</div>            
<div class="body-six" id="registry">
  <div class="container">
      <h2>Registry</h2>
      <p>We are registerd at both Macy’s Home 
          and Crate & Barrrel. You can either go to a
          retail store near you or shop online.
      </p>
      <button class="button-link" data-url="http://www1.macys.com/shop/for-the-home?id=22672&edge=hybrid&cm_sp=navigation-_-top_nav-_-22672_for_the_home">MACY'S HOME</button>
      <button class="button-link" data-url="http://www.crateandbarrel.com/">CRATE & BARREL</button>
  </div>            
</div> -->
<div class="body-seven">
</div>            
<div class="body-eight footer">
  <p>{{ constantsService.value.FOOTER_MESSAGE }}</p>
</div>