<div class="body-one">
  <nav>
      <a href="#reception">Invite</a>
      <a href="#accomodations">Venue</a>
      <a (click)="toggleLanguage()">{{ selectedLanguage }}</a>
  </nav>
  
  <div class="container">
      <h1>{{ constantsService.value.FIRST_NAME }} <span>&</span> {{ constantsService.value.SECOND_NAME }}</h1>
  </div>
</div>
<div class="body-two" id="reception">
  <div class="container">
      <h2>{{ constantsService.value.CELEBRATING_25_YEARS_OF_LOVE }}</h2>
      <p>{{ constantsService.value.INVITE_MESSAGE }}</p>
      <!-- <button class="button-link" data-url="https://www.google.com/maps/preview#!q=montecito+country+club&data=!1m4!1m3!1d6342!2d-119.6574759!3d34.4251475!4m11!1m10!4m8!1m3!1d53185!2d-117.727022!3d33.5770201!3m2!1i1024!2i768!4f13.1!17b1">MONTECITO COUNTRY CLUB</button> -->
  </div>
</div>            
<div class="body-three">
</div>
<div class="body-four" id="accomodations">
  <div class="container">
      <h2>{{ constantsService.value.VENUE_TITLE }}</h2>
      <p>{{ constantsService.value.VENUE }}</p>
      <!-- <button class="button-link" data-url="http://www.canarysantabarbara.com/">CANARY HOTEL</button>
      <button class="button-link" data-url="http://www.montecitoinn.com/">MONTECITO INN</button> -->
  </div>            
</div>
<!-- <div class="body-five">
</div>            
<div class="body-six" id="registry">
  <div class="container">
      <h2>Registry</h2>
      <p>We are registerd at both Macy’s Home 
          and Crate & Barrrel. You can either go to a
          retail store near you or shop online.
      </p>
      <button class="button-link" data-url="http://www1.macys.com/shop/for-the-home?id=22672&edge=hybrid&cm_sp=navigation-_-top_nav-_-22672_for_the_home">MACY'S HOME</button>
      <button class="button-link" data-url="http://www.crateandbarrel.com/">CRATE & BARREL</button>
  </div>            
</div> -->
<div class="body-seven">
</div>            
<div class="body-eight footer">
  <p>{{ constantsService.value.FOOTER_MESSAGE }}</p>
</div>